

<ul>
    <li>
        Traisient : @ViewBag.Transient
    </li>
    <li>
        Scoped : @ViewBag.Scoped
    </li>
    <li>
        Sing : @ViewBag.Singleton
    </li>
    <li>
        SI : @ViewBag.SingletonInstance
    </li>
</ul>



<ul>
    <li>
        Traisient : @ViewBag.TransientOperationService
    </li>
    <li>
        Scoped : @ViewBag.ScopedOperationService
    </li>
    <li>
        Sing : @ViewBag.SingletonOperationService
    </li>
    <li>
        SI : @ViewBag.SingletonInstanceOperationService
    </li>
</ul>
